<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
#Significa queva a tomar todas las paginas y las va a imprimir.
#yield incluye todas las paginas html aqui, es como si esta clase vendria ha ser la superclase.
# Esta carpeta layout es como la plantilla,siempre se va a buscar primero aqui

</body>
</html>
